.example-cards {
  /* width: 400px;  /* Or whatever */
   /* height: 500px; /* Or whatever */
   max-width: 400px;
   margin: 20px;
}

.editable{
   border:none;
   outline:none;
   color: white;
   background:transparent;
}

.cards {
   display:flex;
}
