<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Your form is valid</h5>
  <label>
      Note ID: <input type="number" formControlName="id">
  </label>
  <p></p>
  <label>
      Note Title: <input type="text" formControlName="topic">
  </label>
  <p></p>
  <label>
      Note Contents: <input type="textarea" formControlName="contents">
  </label>

  <input type="submit" value="sendmessage">

</form>

<div *ngIf="submitted">
  <p>{{messageForm.controls.topic.value}}</p>
  <p>{{messageForm.controls.contents.value}}</p>
  <p>{{messageForm.controls.id.value}}</p>
</div>
